<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ilona's Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->

    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Ilona Brushnovska</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.facebook.com/ilona.brushnevskaya" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/brushnevskaya/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://github.com/IlonaBrushnovska" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/ilona-brushnovska-ab0a40243/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About Me</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact Me</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Ilona Brushnovska</h1>
      <p>I'm a Python Developer</p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Me</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="static/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <p class="fst-italic">
              I'm a student working toward Master's degree in Computer science at Odessa Polytechnic National University(Ukraine).
             I have 8 years experience as a certified attorney in corporate, administrative, and civil relations.
            I believe my skills from previous scope of employment could help me to grow as a constructive Python Developer.
            </p>
            <div class="section-title">
          <h2>Skills</h2>
        </div>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Python</strong> </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Flask</strong></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Data Science</strong></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Web Development: HTML, CSS</strong></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Web-Scraping</strong></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>English Upper Intermediate (IELTS 6.5)</strong></li>
                </ul>
              </div>
            </div>



      </div>
    </section><!-- End About Section -->


    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">PROFESSIONAL SUMMARY</h3>
            <div class="resume-item pb-0">
              <p><em> Current student working toward Master's degree in Computer science.
                Seeking an opportunity to expand skills and contribute to company success.
                Eight years of work experience as a certified attorney has shaped me as an organized and stress-resistant person.
                Work well with daunting tasks and have attention to detail.
                </em></p>
            </div>

            <h3 class="resume-title">EDUCATION</h3>
            <div class="resume-item">
              <h4>Master's Degree of Jurisprudence</h4>
              <h5>2008 - 2013</h5>
              <p><em>Odessa State University of Internal Affairs, Odessa, Ukraine</em></p>
            </div>
            <div class="resume-item">
              <h4>Master's Degree of Computer Science</h4>
              <h5>2021 - January 2023</h5>
              <p><em>Odessa Polytechnic National University, Odessa, Ukraine</em></p>
            </div>
            <div class="resume-item">
              <h4>100 Days of Code: The Complete Python Pro Bootcamp for 2022 </h4>
              <h5>2021 - June 2022</h5>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">EXPERIENCE</h3>
            <div class="resume-item">
              <h4>Lawyer</h4>
              <h5>November 2013 - January 2015</h5>
              <p><em>Odessa city council | Odessa, Ukraine</em></p>
              <ul>
                <li>Advocated for city council needs with court.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Head of Legal Department</h4>
              <h5>January 2015 - December 2021</h5>
              <p><em>MANAGING COMPANY "ECOPLAN" | Odessa, Ukraine</em></p>
              <ul>
                <li>Implementation of key legal processes that relate to legal drafting,
                  negotiations, and commercial settlement agreements.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          {%if msg_sent: %}
          <h2>Successfully sent your message</h2>
          {% else: %}
          <h2>Contact Me</h2>
          {% endif %}
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">


              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ilona.atty@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telegram:</h4>
                <p>@ilona_brushnovska</p>
              </div>

            </div>
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form name="sentMessage" id="contactForm" action="{{ url_for('home') }}" method="post" novalidate>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control"  id="name" required data-validation-required-message="Please enter your name.">
                </div>
                <div class="form-group col-md-6">
                  <label>Email Address</label>
                  <input type="email" name="email" class="form-control"  id="email" required data-validation-required-message="Please enter your email address.">
                </div>
              </div>
              <div class="form-group">
                <label>Subject</label>
                <input type="text" name="subject" class="form-control" id="subject" required data-validation-required-message="Please enter subject.">
              </div>
              <div class="form-group">
                <label>Message</label>
              <textarea rows="10" name="message" class="form-control" id="message" required data-validation-required-message="Please enter a message."></textarea>
              </div>
            <br>
              <div class="text-center"><button type="submit"  class="btn btn-primary" id="sendMessageButton">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>


  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>